<div class="container">
  <div class="justify-content-center rounded py-5">
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-2 demo1 py-5">
        <p class="text-center">Login here</p>
      </div>

      <div class="col-md-4 demo2 shadow py-5">
        <form action="" class="form-group">
          <div class="form-group">
            <label for="email">Email</label>
            <input
              type="text"
              name="email"
              id="email"
              placeholder="enter the email"
              class="form-control"
            />
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input
              type="password"
              name="password"
              id="password"
              placeholder="enter the password"
              class="form-control"
            />
          </div>
        </form>
      </div>

      <div class="col-md-3"></div>
    </div>
  </div>
</div>
